<app-structure>
  <section class="main-content">
    <section class="main-content">
      <div class="title-section">
        <h2>
          Catálogo
        </h2>
      </div>

      <section class="dashboard-container">
        <ng-container *ngFor="let book of books">
          <mat-card class="example-card">
            <img
              mat-card-image
              src="{{ book.image }}"
              alt="Imagem para {{ book.name }}"
              (click)="redirectToDetails(book.id)"
            />
            <mat-card-content>
              <p>
                {{ book.name }}
              </p>
            </mat-card-content>
            <div class="action-button">
              <button
                mat-raised-button
                color="primary"
                [disabled]="book.loan != false"
              >
                {{getLoanData(book.loan)}}
              </button>
            </div>
          </mat-card>
        </ng-container>
      </section>
    </section>
  </section>
</app-structure>
