<aside class="sidenav-container">
  <a routerLink="/">
    <img
      src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png"
    />
  </a>
  <section class="identification">
    <p class="title">{{ user?.user_name }}</p>
  </section>
  <nav class="navlist">
    <ul>
      <a routerLink="/">
        <li class="spacer item"><mat-icon>dashboard</mat-icon>Dashboard</li>
      </a>
      <a routerLink="/">
        <li class="spacer item"><mat-icon>assignment</mat-icon>Livros</li>
      </a>
      <a (click)="logOut()">
        <li class="spacer item"><mat-icon>exit_to_app</mat-icon>Sair</li>
      </a>
    </ul>
  </nav>
</aside>
