<aside class="sidenav-container">
  <a routerLink="/estante">
    <img
      src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-512.png"
    />
  </a>
  <section class="identification">
    <p class="title">{{ user[0]?.name }}</p>
  </section>
  <nav class="navlist">
    <ul>
      <a routerLink="/estante">
        <li class="spacer item"><mat-icon>assignment</mat-icon>Livros</li>
      </a>
      <a routerLink="/estante/novo-livro">
        <li class="spacer item"><mat-icon>post_add</mat-icon>Novo Livro</li>
      </a>
      <a routerLink="/estante/meus-livros">
        <li class="spacer item"><mat-icon>post_add</mat-icon>Meus Livros</li>
      </a>
      <a routerLink="/estante/alugados">
        <li class="spacer item"><mat-icon>post_add</mat-icon>Alugados</li>
      </a>
      <a (click)="logOut()">
        <li class="spacer item"><mat-icon>exit_to_app</mat-icon>Sair</li>
      </a>
    </ul>
  </nav>
</aside>
