.book-container {
  margin-top: 25px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 0 24px;
  grid-gap: 16px;
  mat-form-field {
    width: 100%;
  }
}

button {
  height: 35px;
  justify-self: end;
  align-self: center;
}

@media screen and (max-width: 40em) {
  .book-container {
    grid-template-columns: 1fr;
  }
}
